<div class="container-fluid" style = "background-color: #F2F2F2;">

    <div class="row">

        
      <div class="col-md-8">
          <div id="section2">
        <div class="row">
          <div class="col-lg-12">
            <!-- <div class="tm-box"> -->
              <img src="../assets/img/4-5.jpg" alt="Image" class="img-responsive">
              <!-- <div class="tm-box-description"> -->
                <h2>About Us</h2>
                <p class="tm-box-p">This Online Examination Portal is an expertise service provided by us which is a fast,
                  accurate, efficient,
                  human-error-free, fully-automated online exam. It is conducted for Professional Courses, Competitive Exams,
                  Campus Recruitment, Government Recruitment etc. We aim to provide users with a more efficient, user-friendly
                  website with better functionality for the numerous students who prepare for various examinations every year.
                </p>
  
              <!-- </div> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
      </div>
        

      <div class="col-md-4">
        <div id="section4">
          <!-- Start Contact Area -->
          <!-- <section id="contact-area" class="contact-section"> -->
            <div class="container">
              <div class="row">
                <div class="col-sm-12 text-center inner">
                  <div class="contact-content">
                    <h1 style=" color:rgb(18, 15, 43); padding : 15px;">Contact form</h1>
                
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <form action="#" method="post" class="contact-form">
                    <div class="col-sm-6 contact-form-left">
                      <div class="form-group">
                        <input name="name" type="text" class="form-control" id="name" placeholder="Name">
                        <input type="email" name="email" class="form-control" id="mail" placeholder="Email">
                        <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
                      </div>
                    </div>
                    <div class="col-sm-6 contact-form-right">
                      <div class="form-group">
                        <textarea name="message" rows="6" class="form-control" id="comment" placeholder="Your message here..."></textarea>
                        <button type="submit" class="btn btn-default">Send</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          <!-- </section> -->
          <!-- End Contact Area -->
        </div>
      </div>
  
    </div>
  
  </div>