<app-header></app-header>

<app-title></app-title>

<div class="container" style="padding: 30px">

  <div class="row text-center" style="padding: 30px">

    <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 col-xxs-13">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="src/assets/img/4-1.jpg" alt="beginner" style="padding : 25px">
        <div class="card-body">
          <h5 class="card-title">Beginner</h5>
          <p class="card-text">Covers and tests all your fundamentals of the subject.</p>
          <a routerLink="/options" class="btn btn-primary">Attempt</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 col-xxs-13">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="src/assets/img/4-2.jpg" alt="intermediate" style="padding : 25px">
        <div class="card-body">
          <h5 class="card-title">Intermidiate</h5>
          <p class="card-text">Tests your knowledge of application of the subject.</p>
          <a routerLink="/" class="btn btn-primary">Attempt</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 col-xxs-13">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="src/assets/img/4-3.jpg" alt="advanced" style="padding : 25px">
        <div class="card-body">
          <h5 class="card-title">Advanced</h5>
          <p class="card-text">Ace this test and you will be ready to ace your exam!</p>
          <a routerLink="/" class="btn btn-primary">Attempt</a>
        </div>
      </div>
    </div>

  </div>

</div>
<app-footer></app-footer>



