<div class="container" style="padding: 30px">


  <div class="row text-center" style="padding: 30px">

    <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 col-xxs-13">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="src/assets/img/math.jpg" alt="Math">
        <div class="card-body">
          <h5 class="card-title">Math</h5>
          <p class="card-text">Take a math test</p>

          <a routerLink="/options" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 col-xxs-13">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="src/assets/img/math.jpg" alt="Math">
        <div class="card-body">
          <h5 class="card-title">Science</h5>
          <p class="card-text">Take a science test</p>
          <a routerLink="/" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 col-xxs-13">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="src/assets/img/math.jpg" alt="Math">
          <div class="card-body">
            <h5 class="card-title">History</h5>
            <p class="card-text">Take a history test</p>
            <a routerLink="/" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>

  </div>


  <div class="row text-center" style="padding: 30px">
    
      <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 col-xxs-13">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="src/assets/img/math.jpg" alt="Math">
          <div class="card-body">
            <h5 class="card-title">Math</h5>
            <p class="card-text">Take a math test</p>
  
            <a routerLink="/" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 col-xxs-13">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="src/assets/img/math.jpg" alt="Math">
          <div class="card-body">
            <h5 class="card-title">Science</h5>
            <p class="card-text">Take a science test</p>
            <a routerLink="/" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 col-xxs-13">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="src/assets/img/math.jpg" alt="Math">
            <div class="card-body">
              <h5 class="card-title">History</h5>
              <p class="card-text">Take a history test</p>
              <a routerLink="/" class="btn btn-primary">Go</a>
            </div>
          </div>
        </div>
        
    </div>



</div>


